.animationMove {
    animation: animationM 2s forwards;
}

@keyframes animationM {
    0% {
        transform: translateY(600px);
        opacity: 0
    }
    70% {
        /* transform: scale(2); */
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: scale(1.05);
    }
}

.animationMoveLeft {
    animation: animationLeft 2s forwards;
}

@keyframes animationLeft {
    0% {
        transform: translateX(600px);
        opacity: 0
    }
    70% {
        /* transform: scale(2); */
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: scale(1.05);
    }
}

.animationMoveOnlyLeft {
    animation: animationOnlyLeft 1.5s forwards;
}

@keyframes animationOnlyLeft {
    0% {
        transform: translateX(600px);
        opacity: 0
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
    }
}

.animationMoveRight {
    animation: animationRight 1.5s forwards;
}

@keyframes animationRight {
    0% {
        transform: translateX(-600px);
        opacity: 0
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
    }
}