.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.fade img {
    height: 630px;
    width: 100%;
}


/* Slideshow container */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
}

.currSlides {
    margin-top: -3%;
}


/* .active {
    background-color: #717171;
} */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}


/* ------------------------------------------reponsive banner */


/* mobile */


/* ------------------------------------------reponsive banner */


/* mobile */

@media only screen and (max-width: 46.1875em) {
    .dot {
        height: 10px;
        width: 10px;
        margin: 5px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        position: relative;
    }
    .currSlides {
        margin-top: -13%;
    }
    .fade img {
        height: 400px;
        width: 100%;
    }
    /* Slideshow container */
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }
}


/* -----------------------Tablet
    */

@media only screen and (max-width: 63.9375em) and (min-width: 46.25em) {
    .dot {
        height: 10px;
        width: 10px;
        margin: 5px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        position: relative;
    }
    .currSlides {
        margin-top: -7%;
    }
    .fade img {
        height: 400px;
        width: 100%;
    }
    /* Slideshow container */
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }
}