 #container {
     font-family: "Montserrat", sans-serif;
     line-height: 2rem;
     width: 100%;
 }
 
 #container #img-intr {
     height: 200px;
     object-fit: cover;
 }
 
 .centered {
     position: absolute;
     top: 30%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
     font-size: 2rem;
     font-weight: bolder;
 }
 
 .intr {
     margin-top: 10%;
     padding-left: -5%;
     padding-right: 4%;
 }
 
 .intr img {
     margin-left: 42%;
     height: auto;
     width: 20%;
 }
 
 .intr .text-intr p {
     text-align: justify;
     width: 70%;
     margin-left: 17%;
 }
 
 @keyframes introduce {
     0% {
         bottom: 0px;
         opacity: 0;
     }
     20% {
         opacity: 0;
     }
     100% {
         bottom: 100px;
         opacity: 1;
     }
 }
 
 .intr {
     animation-name: introduce;
     animation-duration: 2s;
     animation-direction: normal;
     position: relative;
     animation-fill-mode: forwards;
 }
 /* Responsive */
 /* @media screen and (max-width:650px) {
    #container #img-intr {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    .centered {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;
        font-weight: bolder;
    }
    .intr {
        margin-top: 10%;
        padding-left: -5%;
        padding-right: 4%;
    }
    .intr img {
        margin-left: 42%;
        height: auto;
        width: 20%;
    }
    .intr .text-intr p {
        text-align: justify;
        width: 70%;
        margin-left: 17%;
    }
}

@media screen and (max-width:830px) {
    #container #img-intr {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    .centered {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;
        font-weight: bolder;
    }
    .intr {
        margin-top: 10%;
        padding-left: -5%;
        padding-right: 4%;
    }
    .intr img {
        margin-left: 42%;
        height: auto;
        width: 20%;
    }
    .intr .text-intr p {
        text-align: justify;
        width: 70%;
        margin-left: 17%;
    }
}
 */
 /* 
@media screen and (max-width:1115px) {
    #container #img-intr {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

    .centered {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;
        font-weight: bolder;
    }
    .intr {
        margin-top: 10%;
        padding-left: -5%;
        padding-right: 4%;
    }
    .intr img {
        margin-left: 42%;
        height: auto;
        width: 20%;
    }
    .intr .text-intr p {
        text-align: justify;
        width: 70%;
        margin-left: 17%;
    }
}

@media screen and (max-width:650px) {
    #container #img-intr {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

    .centered {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;
        font-weight: bolder;
    }
    .intr {
        margin-top: 10%;
        padding-left: -5%;
        padding-right: 4%;
    }
    .intr img {
        margin-left: 42%;
        height: auto;
        width: 20%;
    }
    .intr .text-intr p {
        text-align: justify;
        width: 70%;
        margin-left: 17%;
    }
} */
 
 .content-row-large {
     width: 100%;
     margin-bottom: 3%;
 }
 
 .cont-layout {
     display: grid;
     grid-template-columns: 45% 45%;
     column-gap: 5%;
     width: 100%;
     max-width: 1024px;
     margin: 0 auto;
 }
 
 .col-item {
     height: 420px;
 }
 
 .col-item .icon-img .icon-t {
     width: 60px;
     margin-bottom: -15%;
 }
 
 .col-item .icon-img #icon-s {
     width: 42px;
 }
 
 .text-item {
     margin-left: 15%;
     float: right;
 }
 
 .text-item>.text-content>li {
     line-height: 30px;
 }
 
 .title-text {
     font-weight: bolder;
     font-size: 1.4rem;
     margin-left: -70%;
 }
 
 @keyframes move {
     from {
         right: -200px;
     }
     to {
         right: 0px;
     }
 }
 
 #col-right {
     animation-name: move;
     animation-duration: 3s;
     animation-direction: normal;
     position: relative;
     animation-fill-mode: forwards;
 }
 
 @keyframes left-move {
     from {
         left: -200px;
     }
     to {
         left: 0px;
     }
 }
 
 #col-left {
     animation-name: left-move;
     animation-duration: 3s;
     animation-direction: normal;
     position: relative;
     animation-fill-mode: forwards;
 }
 /* #col-left {
     margin-top: -16%;
     margin-left: 19%;
 }
 
 #col-right {
     margin-top: -22%;
     margin-left: 19%;
 } */
 /* .col-item #icon-t,
#icon-s,
#icon-n,
#icon-g {
    width: 50px;
    height: auto;
} */
 /* #col-right {
     margin-top: -15%;
     margin-left: 16%;
 }
 
 #col-left {
     margin-top: -16%;
     margin-left: 19%;
 } */